<!doctype html>
<html ng-app="laberintosApp">
<head>
<meta charset="UTF-8">
<title>Gato encerrado</title>

<!-- JQUERY -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>

<!-- BOOTSTRAP -->
<link rel="stylesheet" media="screen" href="css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="css/bootstrap-theme.min.css">
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>

<script src="js/app.js"></script>
<script src="js/service.js"></script>
<script src="js/controllers.js"></script>


<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body data-ng-controller="TodosLosLaberintosCtrl as LaberintoCtrl">
	<div class="jumbotron full-height">
		<div class="container">
			<div id="fila1" class="row">
				<div class="col-md-2">
					<img src="images/gatoencerrado.jpg" alt="Gato encerrado"
						class="imagen_gato">
				</div>

				<div class="col-md-7">
					<h2 class="titulo">Aca hay gato encerrado</h2>
				</div>

				<div class="col-md-1">
					<button type="button" class="btn-sm">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						Usuario
					</button>
				</div>

				<div class="col-md-2">
					domain crear usuario
					<h5 class="nombre_usuario">{{LaberintoCtrl.user.name}}</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Laberintos</h3>
						</div>
						<div class="panel-body">
							<ul>
								<li ng-repeat="laberinto in LaberintoCtrl.laberintos"
									class="animate-repite">{{laberinto.nombre}}
									<p>{{laberinto.pathImage}}</p>
								</li>
							</ul>
						</div>
		
					</div>
				</div>
				<div class="col-md-8">
					<span>Holaaaaaa</span>
				</div>
			</div>

			<br> <br>

			<div class="fila3">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<p class="desarrolladores">
								Construccion de interfaces de usuarios <br> Grupo 8.
								Alumnos: Calderon Ingrid, Guzman Gabriel
							<p>Input something in the input box:</p>
							<p>
								Name: <input type="text" ng-model="name">
							</p>
							<p ng-bind="name"></p>
							<p>{{2+2}}</p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>